#### Análisis de los tickets por Agente y Departamento

In [1]:
!pip install tkcalendar

Requirement already satisfied: tkcalendar in c:\users\portatilti\anaconda3\envs\unicornenv\lib\site-packages (1.6.1)
Requirement already satisfied: babel in c:\users\portatilti\anaconda3\envs\unicornenv\lib\site-packages (from tkcalendar) (2.11.0)
Requirement already satisfied: pytz>=2015.7 in c:\users\portatilti\anaconda3\envs\unicornenv\lib\site-packages (from babel->tkcalendar) (2024.1)

In [3]:
import os
from dotenv import load_dotenv
import pandas as pd
import numpy as np
import tkinter as tk
from tkcalendar import Calendar

load_dotenv()

%run conexionDB.ipynb

# Obtener la conexión
engine = obtener_conexion()

In [ ]:
from datetime import datetime

# Fecha de inicio y salida a producción de la aplicación de soporte osTicket: 2 de febrero de 2019
fechaInicio = '2019-02-01'

# Fecha de fin: fecha actual (hoy)
fechaFin = datetime.now().strftime('%Y-%m-%d')

queryAgentes = f"""
SELECT tk.number, CONCAT(sta.firstname, ' ', sta.lastname) AS "Nombre Agente", sta.staff_id, tk.dept_id,
DATE_ADD(tk.created, INTERVAL -6 HOUR) as Creado
FROM ost_ticket AS tk
LEFT JOIN ost_staff AS sta ON tk.staff_id = sta.staff_id
WHERE DATE_ADD(tk.created, INTERVAL -6 HOUR) BETWEEN '{fechaInicio}' AND DATE_ADD('{fechaFin}', INTERVAL 1 DAY)
ORDER BY tk.created DESC
"""

# Imprimir la consulta para verificar
print(queryAgentes)
    
# Ejecutar la consulta y almacenar los resultados en la variable global
df_agentes = pd.read_sql(queryAgentes, engine)
df_agentes

SELECT tk.number, CONCAT(sta.firstname, ' ', sta.lastname) AS "Nombre Agente", sta.staff_id, tk.dept_id,
DATE_ADD(tk.created, INTERVAL -6 HOUR) as Creado
FROM ost_ticket AS tk
LEFT JOIN ost_staff AS sta ON tk.staff_id = sta.staff_id
WHERE DATE_ADD(tk.created, INTERVAL -6 HOUR) BETWEEN '2019-02-01' AND DATE_ADD('2025-01-29', INTERVAL 1 DAY)
ORDER BY tk.created DESC

#### Unificar TI 1 y TI 3, ya que ambos son del mismo departamento o área

In [4]:
# Reemplazar los valores de la columna "id" donde el valor sea 3 por 1
df_agentes.loc[df_agentes["dept_id"] == 3, "dept_id"] = 1
df_agentes

       number        Nombre Agente  staff_id  dept_id              Creado
0      041389   Luis Fernando Vega      25.0        6 2025-01-24 17:57:33
1      041388         Mayoor Mappe      12.0        1 2025-01-24 17:57:02
2      041387   Luis Fernando Vega      25.0        6 2025-01-24 17:39:30
3      041386        Andres Romero       2.0        1 2025-01-24 17:25:47
4      041385        Andres Romero       2.0        1 2025-01-24 17:24:32
...       ...                  ...       ...      ...                 ...
41368  000005         Mayoor Mappe      12.0        1 2019-02-06 15:00:22
41369  000004    Alan Stiven Gomez      14.0        1 2019-02-06 14:55:12
41370  000003  Infraestructura CCI      11.0        2 2019-02-06 14:26:51
41371  000002         Mayoor Mappe      12.0        1 2019-02-06 14:17:34
41372  000001    Alan Stiven Gomez      14.0        1 2019-02-06 12:25:51

[41373 rows x 5 columns]