#### Análisis de los tickets por Agente y Departamento

In [4]:
import os
from dotenv import load_dotenv
import pandas as pd
import numpy as np
import tkinter as tk
from tkcalendar import Calendar

load_dotenv()

%run conexionDB.ipynb

# Obtener la conexión
engine = obtener_conexion()

In [6]:
from datetime import datetime

# Fecha de inicio y salida a producción de la aplicación de soporte osTicket: 2 de febrero de 2019
fechaInicio = '2019-02-01'

# Fecha de fin: fecha actual (hoy)
fechaFin = datetime.now().strftime('%Y-%m-%d')

queryAgentes = f"""
SELECT CONCAT(sta.firstname, ' ', sta.lastname) AS "Nombre Agente", tk.dept_id,
DATE_ADD(tk.created, INTERVAL -6 HOUR) as Creado
FROM ost_ticket AS tk
LEFT JOIN ost_staff AS sta ON tk.staff_id = sta.staff_id
WHERE DATE_ADD(tk.created, INTERVAL -6 HOUR) BETWEEN '{fechaInicio}' AND DATE_ADD('{fechaFin}', INTERVAL 1 DAY)
ORDER BY tk.created DESC
"""

# Imprimir la consulta para verificar
print(queryAgentes)
    
# Ejecutar la consulta y almacenar los resultados en la variable global
df_agentes = pd.read_sql(queryAgentes, engine)
df_agentes

SELECT CONCAT(sta.firstname, ' ', sta.lastname) AS "Nombre Agente", tk.dept_id,
DATE_ADD(tk.created, INTERVAL -6 HOUR) as Creado
FROM ost_ticket AS tk
LEFT JOIN ost_staff AS sta ON tk.staff_id = sta.staff_id
WHERE DATE_ADD(tk.created, INTERVAL -6 HOUR) BETWEEN '2019-02-01' AND DATE_ADD('2025-01-17', INTERVAL 1 DAY)
ORDER BY tk.created DESC

             Nombre Agente  dept_id              Creado
0                     None        1 2025-01-17 08:33:22
1                     None        5 2025-01-17 08:22:13
2                     None        2 2025-01-17 08:16:34
3                     None        2 2025-01-17 08:01:28
4                     None        2 2025-01-17 07:54:55
...                    ...      ...                 ...
41184         Mayoor Mappe        1 2019-02-06 15:00:22
41185    Alan Stiven Gomez        1 2019-02-06 14:55:12
41186  Infraestructura CCI        2 2019-02-06 14:26:51
41187         Mayoor Mappe        1 2019-02-06 14:17:34
41188    Alan Stiven Gomez        1 2019-02-06 12:25:51

[41189 rows x 3 columns]